# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
.next/

# Misc
.DS_Store
*.log
*.env
*.env.local
*.env.production
.wrangler/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build outputs
.vercel
.turbo
